<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/MARATON_LATAM_CISCO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(+2)

2

In [2]:
print(-3 ** 2)
print(-2 ** 3)
print(-(3 ** 2))

-9
-8
-9

In [3]:
print(2 * 3 % 5)

1

In [5]:
(25 % 13)

12

In [11]:
print( ((5 * 12 + 100)) / ( (2 * 13) // 2 ) )

12.307692307692308

In [14]:
( 26 // 2 )

13

In [12]:
print( ((5 * 12 + 100) ) / ( 26 // 2 ))

12.307692307692308

In [15]:
print( (160) / 13)

12.307692307692308

In [24]:
160 / 13

12.307692307692308

In [23]:
print( (2 * 13) // 2)

13

In [21]:
print( (5 * (25 % 13) + 100) )

160

In [4]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [25]:
print((2 ** 4), (2 * 4.), (2 * 4))

16 8.0 8

In [27]:
print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))

-0.5 0.5 0 -1

In [28]:
print((2 % -4), (2 % 4), (2 ** 3 ** 2))

-2 2 512

In [29]:
var = 1
print(var)

1

In [30]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [32]:
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

In [33]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [42]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [41]:
var = 1
print(var)
var = var + (2*var)
print(var)

1
3

In [45]:
var = 100
var = 200 + 300
print(var)

500

In [46]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

2.4.7   LAB   Variables
Escenario
A continuación una historia:

Érase una vez en la Tierra de las Manzanas, Juan tenía tres manzanas, María tenía cinco manzanas, y Adán tenía seis manzanas. Todos eran muy felices y vivieron por muchísimo tiempo. Fin de la Historia.

Tu tarea es:

Crear las variables: john, mary, y adam;
Asignar valores a las variables. El valor debe de ser igual al número de manzanas que cada quien tenía;
Una vez almacenados los números en las variables, imprimir las variables en una línea, y separar cada una de ellas con una coma;
Después se debe crear una nueva variable llamada total_apples y se debe igualar a la suma de las tres variables anteriores;
Imprime el valor almacenado en total_apples en la consola;
Experimenta con tu código: crea nuevas variables, asigna diferentes valores a ellas, y realiza varias operaciones aritméticas con ellas (por ejemplo, +, -, *, /, //, etc.). Intenta poner una cadena con un entero juntos en la misma línea, por ejemplo, "Número total de manzanas:" y total_apples.

In [ ]:
john = 3
mary = 5
adam = 6

print(john, mary, adam, sep=',')

total_apples = john + mary + adam
print(total_apples)

# peter = 12.5
# suzy = 2
# print(peter / suzy)
# print("Total number of apples:", total_apples)

2.4.9   LAB   Variables: un convertidor simple
Escenario
Millas y kilómetros son unidades de longitud o distancia.

Teniendo en mente que 1 milla equivale aproximadamente a 1.61 kilómetros, complementa el programa en el editor para que convierta de:

Millas a kilómetros;
Kilómetros a millas.
No se debe cambiar el código existente. Escribe tu código en los lugares indicados con ###. Prueba tu programa con los datos que han sido provistos en el código fuente.

Pon mucha atención a lo que esta ocurriendo dentro de la función print(). Analiza como es que se proveen múltiples argumentos para la función, y como es que se muestra el resultado.

Nota que algunos de los argumentos dentro de la función print() son cadenas (por ejemplo, "millas son", y otros son variables (por ejemplo, miles).

  Consejo  
Hay una cosa interesante más que esta ocurriendo. ¿Puedes ver otra función dentro de la función print()? Es la función round(). Su trabajo es redondear la salida del resultado al número de decimales especificados en el paréntesis, y regresar un valor flotante (dentro de la función round() se puede encontrar el nombre de la variable, el nombre, una coma, y el número de decimales que se desean mostrar). Se hablará más de esta función muy pronto, no te preocupes si no todo queda muy claro. Solo se quiere impulsar tu curios

In [ ]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "millas son", round(miles_to_kilometers, 2), "kilómetros")
print(kilometers, "kilómetros son", round(kilometers_to_miles, 2), "millas")

In [49]:
sheep = sheep + 1

#x *= 2
#sheep += 1
print(sheep)

NameError: ignored

In [50]:


var = 2
var = 3
print(var)
del

3

In [51]:

a = '1'
b = "1"
print(a + b)

11

In [52]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

In [53]:
a = 6
a /= 8
print(a)

0.75

In [54]:
6 /= 2

SyntaxError: ignored