<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/MARATON_LATAM_CISCO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(+2)

2

In [ ]:
print(-3 ** 2)
print(-2 ** 3)
print(-(3 ** 2))

-9
-8
-9

In [ ]:
print(2 * 3 % 5)

1

In [ ]:
(25 % 13)

12

In [ ]:
print( ((5 * 12 + 100)) / ( (2 * 13) // 2 ) )

12.307692307692308

In [ ]:
( 26 // 2 )

13

In [ ]:
print( ((5 * 12 + 100) ) / ( 26 // 2 ))

12.307692307692308

In [ ]:
print( (160) / 13)

12.307692307692308

In [ ]:
160 / 13

12.307692307692308

In [ ]:
print( (2 * 13) // 2)

13

In [ ]:
print( (5 * (25 % 13) + 100) )

160

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [ ]:
print((2 ** 4), (2 * 4.), (2 * 4))

16 8.0 8

In [ ]:
print((-2 / 4), (2 / 4), (2 // 4), (-2 // 4))

-0.5 0.5 0 -1

In [ ]:
print((2 % -4), (2 % 4), (2 ** 3 ** 2))

-2 2 512

In [ ]:
var = 1
print(var)

1

In [ ]:
var = 1
account_balance = 1000.0
client_name = 'John Doe'
print(var, account_balance, client_name)
print(var)

1 1000.0 John Doe
1

In [ ]:
var = "3.8.5"
print("Python version: " + var)

Python version: 3.8.5

In [ ]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [ ]:
var = 1
print(var)
var = var + 1
print(var)

1
2

In [ ]:
var = 1
print(var)
var = var + (2*var)
print(var)

1
3

In [ ]:
var = 100
var = 200 + 300
print(var)

500

In [ ]:
a = 3.0
b = 4.0
c = (a ** 2 + b ** 2) ** 0.5
print("c =", c)

c = 5.0

2.4.7   LAB   Variables
Escenario
A continuación una historia:

Érase una vez en la Tierra de las Manzanas, Juan tenía tres manzanas, María tenía cinco manzanas, y Adán tenía seis manzanas. Todos eran muy felices y vivieron por muchísimo tiempo. Fin de la Historia.

Tu tarea es:

Crear las variables: john, mary, y adam;
Asignar valores a las variables. El valor debe de ser igual al número de manzanas que cada quien tenía;
Una vez almacenados los números en las variables, imprimir las variables en una línea, y separar cada una de ellas con una coma;
Después se debe crear una nueva variable llamada total_apples y se debe igualar a la suma de las tres variables anteriores;
Imprime el valor almacenado en total_apples en la consola;
Experimenta con tu código: crea nuevas variables, asigna diferentes valores a ellas, y realiza varias operaciones aritméticas con ellas (por ejemplo, +, -, *, /, //, etc.). Intenta poner una cadena con un entero juntos en la misma línea, por ejemplo, "Número total de manzanas:" y total_apples.

In [ ]:
john = 3
mary = 5
adam = 6

print(john, mary, adam, sep=',')

total_apples = john + mary + adam
print(total_apples)

# peter = 12.5
# suzy = 2
# print(peter / suzy)
# print("Total number of apples:", total_apples)

2.4.9   LAB   Variables: un convertidor simple
Escenario
Millas y kilómetros son unidades de longitud o distancia.

Teniendo en mente que 1 milla equivale aproximadamente a 1.61 kilómetros, complementa el programa en el editor para que convierta de:

Millas a kilómetros;
Kilómetros a millas.
No se debe cambiar el código existente. Escribe tu código en los lugares indicados con ###. Prueba tu programa con los datos que han sido provistos en el código fuente.

Pon mucha atención a lo que esta ocurriendo dentro de la función print(). Analiza como es que se proveen múltiples argumentos para la función, y como es que se muestra el resultado.

Nota que algunos de los argumentos dentro de la función print() son cadenas (por ejemplo, "millas son", y otros son variables (por ejemplo, miles).

  Consejo  
Hay una cosa interesante más que esta ocurriendo. ¿Puedes ver otra función dentro de la función print()? Es la función round(). Su trabajo es redondear la salida del resultado al número de decimales especificados en el paréntesis, y regresar un valor flotante (dentro de la función round() se puede encontrar el nombre de la variable, el nombre, una coma, y el número de decimales que se desean mostrar). Se hablará más de esta función muy pronto, no te preocupes si no todo queda muy claro. Solo se quiere impulsar tu curios

In [ ]:
kilometers = 12.25
miles = 7.38

miles_to_kilometers = ###
kilometers_to_miles = ###

print(miles, "millas son", round(miles_to_kilometers, 2), "kilómetros")
print(kilometers, "kilómetros son", round(kilometers_to_miles, 2), "millas")

In [ ]:
sheep = sheep + 1

#x *= 2
#sheep += 1
print(sheep)

NameError: ignored

In [ ]:


var = 2
var = 3
print(var)
del

3

In [ ]:

a = '1'
b = "1"
print(a + b)

11

In [ ]:
a = 6
b = 3
a /= 2 * b
print(a)

1.0

In [ ]:
a = 6
a /= 8
print(a)

0.75

In [ ]:
6 /= 2

SyntaxError: ignored

In [1]:
print("Dime lo que sea...")
anything = input()
print("Hmm...", anything, "... ¿en serio?")

Dime lo que sea...
lo que sea
Hmm... lo que sea  ... ¿en serio?

In [2]:
anything = input("Dime lo que sea...")
print("Hmm...", anything, "...¿en serio?")

Dime lo que sea...lo que sea
Hmm... lo que sea  ...¿en serio?

In [3]:
anything = input("Ingresa un número:")
something = anything ** 2.0
print(anything, "al cuadrado es", something)

Ingresa un número:4

TypeError: ignored

In [4]:
# Probando un mensaje de error TypeError.

anything = input("Ingresa un número: ")
something = anything ** 2.0
print(anything, "al cuadrado es", something)

Ingresa un número: 6

TypeError: ignored

In [5]:
anything = float(input("Ingresa un número: "))
something = anything ** 2.0
print(anything, "a la potencia de 2 es", something)

Ingresa un número: 5
5.0 a la potencia de 2 es 25.0

In [6]:
leg_a = float(input("Ingresa la longitud del primer cateto: "))
leg_b = float(input("Ingresa la longitud del segundo cateto: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("La longitud de la hipotenusa es:", hypo)

Ingresa la longitud del primer cateto: 7
Ingresa la longitud del segundo cateto: 6
La longitud de la hipotenusa es: 9.219544457292887

In [7]:
leg_a = float(input("Ingresa la longitud del primer cateto: "))
leg_b = float(input("Ingresa la longitud del segundo cateto: "))
print("La longitud de la hipotenusa es:", (leg_a**2 + leg_b**2) ** .5)

Ingresa la longitud del primer cateto: 5
Ingresa la longitud del segundo cateto: 6
La longitud de la hipotenusa es: 7.810249675906654

In [8]:
fnam = input("¿Me puedes dar tu nombre por favor? ")
lnam = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias. ")
print("\nTu nombre es " + fnam + " " + lnam + ".")

¿Me puedes dar tu nombre por favor? leo
¿Me puedes dar tu apellido por favor? l
Gracias.

Tu nombre es leo l .

In [9]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [1]:
leg_a = float(input("Ingresa la longitud del primer cateto: "))
leg_b = float(input("Ingresa la longitud del segundo cateto: "))
print("La longitud de la hipotenusa es " + str((leg_a**2 + leg_b**2) ** .5))

Ingresa la longitud del primer cateto: 8
Ingresa la longitud del segundo cateto: 9
La longitud de la hipotenusa es 12.041594578792296

In [9]:
# ingresa un valor flotante para la variable a aquí
a = float(input("Ingresa el valor de a: "))
# ingresa un valor flotante para la variable b aquí
b = float(input("Ingresa el valor de b: "))

# mostrar el resultado de la suma aquí
print(str(a+b))
# mostrar el resultado de la resta aquí
print(str(a-b))
# mostrar el resultado de la multiplicación aquí
print(str(a*b))
# mostrar el resultado de la división aquí
print(str(a/b))

print("\n¡Eso es todo, amigos!")

Ingresa el valor de a: 4
Ingresa el valor de b: 5
9.0
-1.0
20.0
0.8

¡Eso es todo, amigos!

In [14]:
a = float(input("Ingresa el valor de a: "))
# ingresa un valor flotante para la variable b aquí
b = float(input("Ingresa el valor de b: "))
print(str(a/b))

Ingresa el valor de a: 4
Ingresa el valor de b: 5
0.8

In [ ]:
# Solución de CISCO  
a = float(input("Ingresa el primer valor: "))
b = float(input("Ingresa el segundo valor: "))
print("Suma:", a + b)
print("Resta:", a - b)
print("Multiplicación:", a * b)
print("División:", a / b)
print("\n¡Eso es todo, amigos!")

In [20]:
x = float(input("Ingresa el valor para x: "))

# Escribe tu código aquí.
y = (1 / (x + (1 / (x + (1/(x + (1 / x)))))))
print("y =", y)

Ingresa el valor para x: -5
y = -0.19258202567760344

In [ ]:

x_sol = (1 / (x + (1 / (x + (1/(x + (1 / x)))))))

Escenario
La tarea es preparar un código simple para evaluar o encontrar el tiempo final de un periodo de tiempo dado, expresándolo en horas y minutos. La hora de inicio se da como un par de horas (0..23) y minutos (0..59). El resultado debe ser mostrado en la consola.

Por ejemplo, si el evento comienza a las 12:17 y dura 59 minutos, terminará a las 13:16.

No te preocupes si tu código no es perfecto - está bien si acepta una hora invalida - lo más importante es que el código produzca una salida correcta acorde a la entrada dada.

Prueba el código cuidadosamente. Pista: utilizar el operador % puede ser clave para el éxito.
Entrada de muestra:

12
17
59

In [26]:
hour = int(input("Hora de inicio (horas): "))
mins = int(input("Minuto de inicio (minutos): "))
dura = int(input("Duración del evento (minutos): "))

# Escribe tu código aquí.

inicio = (hour + mins) 
salida = (inicio, dura % mins)
print(salida)

Hora de inicio (horas): 12
Minuto de inicio (minutos): 17
Duración del evento (minutos): 59
(29, 8)

In [33]:
hour = int(input("Hora de inicio (horas): "))
mins = int(input("Minuto de inicio (minutos): "))
dura = int(input("Duración del evento (minutos) "))
# encuentra el número total de minutos
tmins = (mins + dura ) / 60

print(tmins)
# encuentra el número de horas ocultas en los minutos y actualiza las horas
#hourfin = (hour % 59 + tmins / 23) + dura
# corrige los minutos para que estén en un rango de (0..59)
#if  0 < tmins < 59: 
 #   if 0 < hourfin < 23:
# corrige las horas para que estén en un rango de (0..23) 
  #      print(hour, ":", mins, sep='')
   # else:
    #    print("No procede")


# Solución del problema 
hour = int(input("Hora de inicio (horas): "))
mins = int(input("Minuto de inicio (minutos): "))
dura = int(input("Duración del evento (minutos): "))
mins = mins + dura # encuentra el número total de minutos
hour = hour + mins // 60 # encuentra el número de horas ocultas en los minutos y actualiza las horas
mins = mins % 60 # corrige los minutos para que estén en un rango de (0..59)
hour = hour % 24 # corrige las horas para que estén en un rango de (0..23) 
print(hour, ":", mins, sep='')

Hora de inicio (horas): 12
Minuto de inicio (minutos): 17
Duración del evento (minutos) 59
1.2666666666666666

In [34]:
name = input("Ingresa tu nombre: ")
print("Hola, " + name + ". '¡Gusto en conocerte'!")
 
print("\nPresiona Enter para terminar el programa.")
input()
print("FIN.")

Ingresa tu nombre:
Hola, . '¡Gusto en conocerte'!

Presiona Enter para terminar el programa.

FIN.