<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/PART3_MARATON_CISCO_LATAM_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ingresa un valor: ")
a = int(input())

print("Ingresa un valor: ")
b = int(input())

print("Ingresa un valor: ")
c = int(input())

Ingresa un valor:
5
Ingresa un valor:
4
Ingresa un valor:
6

In [ ]:
def message(): print("Ingresar valor: ")

In [ ]:
def message(): print("Ingresar valor: ") 
print("Inicia aqui.") 
print("Termina aqui.")

Inicia aqui.
Termina aqui.

In [ ]:
def message(): print("Ingresar valor: ") print("Inicia aqui.") message() print("Termina aqui.")

SyntaxError: ignored

In [ ]:
print("Inicia aqui.") message() print("Termina aqui.") def message(): print("Ingresar valor: ")

SyntaxError: ignored

In [ ]:
def message(): print("Ingresar valor: ") message = 1

SyntaxError: ignored

In [ ]:
print("Comienza aqui.") def message(): print("Ingresar valor: ") message() print("Termina aqui.")

SyntaxError: ignored

In [ ]:
def message(): print("Ingresar valor: ") message() a = int(input()) message() b = int(input()) message() c = int(input())

SyntaxError: ignored

In [ ]:
def message(): # definiendo una función print("Hello") # cuerpo de la función message() # invocación de la función

SyntaxError: ignored

In [ ]:
def hello(name): # definiendo una función print("Hello,", name) # cuerpo de la función name = input("Ingresa tu nombre: ") hello(name) # invocación de la función

SyntaxError: ignored

In [ ]:
def message(number):
    print("Ingresa un número:", number)

In [ ]:
def message(number):
    print("Ingresa un número:", number)

message()

TypeError: ignored

In [ ]:
def message(number):
    print("Ingresa un número:", number)
 
message(1)

Ingresa un número: 1

In [ ]:
def message(number):
    print("Ingresa un número:", number)
 
number = 1234
message(1)
print(number)

Ingresa un número: 1
1234

In [ ]:
def message(what, number):
    print("Ingresa", what, "número", number)
 
message("teléfono", 11)
message("precio", 5)
message("número", "number")

Ingresa teléfono número 11
Ingresa precio número 5
Ingresa número número number

In [ ]:
def my_function(a, b, c):
    print(a, b, c)
 
my_function(1, 2, 3)

1 2 3

In [ ]:
def introduction(first_name, last_name):
    print("Hola, mi nombre es", first_name, last_name)
 
introduction("Luke", "Skywalker")
introduction("Jesse", "Quick")
introduction("Clark", "Kent")

Hola, mi nombre es Luke Skywalker
Hola, mi nombre es Jesse Quick
Hola, mi nombre es Clark Kent

In [ ]:
def introduction(first_name, last_name):
    print("Hola, mi nombre es", first_name, last_name)
 
introduction("Skywalker", "Luke")
introduction("Quick", "Jesse")
introduction("Kent", "Clark")

Hola, mi nombre es Skywalker Luke
Hola, mi nombre es Quick Jesse
Hola, mi nombre es Kent Clark

In [ ]:
def introduction(first_name, last_name):
    print("Hola, mi nombre es", first_name, last_name)
 
introduction(first_name = "James", last_name = "Bond")
introduction(last_name = "Skywalker", first_name = "Luke")

Hola, mi nombre es James Bond
Hola, mi nombre es Luke Skywalker

In [ ]:
def introduction(first_name, last_name):
    print("Hola, mi nombre es", first_name, last_name)
 
introduction(surname="Skywalker", first_name="Luke")

TypeError: ignored

In [ ]:
def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

In [ ]:
adding(1, 2, 3)

1 + 2 + 3 = 6

In [ ]:
adding(c = 1, a = 2, b = 3)

2 + 3 + 1 = 6

In [ ]:
adding(3, c = 1, b = 2)

3 + 2 + 1 = 6

In [ ]:
adding(3, a = 1, b = 2)

TypeError: ignored

In [ ]:
adding(4, 3, c = 2)

4 + 3 + 2 = 9

In [ ]:
def introduction(first_name, last_name="Smith"):
     print("Hola, mi nombre es", first_name, last_name)

In [ ]:
 introduction("Jorge", "Pérez")

Hola, mi nombre es Jorge Pérez

In [ ]:
introduction("Enrique")

Hola, mi nombre es Enrique Smith

In [ ]:
introduction(first_name="Guillermo")

Hola, mi nombre es Guillermo Smith

In [ ]:
def introduction(first_name="Juan", last_name="González"):
    print("Hola, mi nombre es", first_name, last_name)

In [ ]:
introduction()

Hola, mi nombre es Juan González

In [ ]:
introduction(last_name="Rodríguez")

Hola, mi nombre es Juan Rodríguez

In [ ]:
def hi(name):
    print("Hola,", name)
 
hi("Greg")

Hola, Greg

In [ ]:
def hi_all(name_1, name_2):
    print("Hola,", name_2)
    print("Hola,", name_1)
 
hi_all("Sebastián", "Konrad")

Hola, Konrad
Hola, Sebastián

In [ ]:
def address(street, city, postal_code):
    print("Tu dirección es:", street,"St.,", city, postal_code)
 
s = input("Calle: ")
p_c = input("Código Postal: ")
c = input("Ciudad: ")
address(s, c, p_c)

Calle: 6
Código Postal: 453
Ciudad: mexico
Tu dirección es: 6 St., mexico 453

In [ ]:
#Ejemplo 1
def subtra(a, b):
    print(a - b)
 
subtra(5, 2) # salida: 3
subtra(2, 5) # salida: -3
 
 
#Ejemplo 2
def subtra(a, b):
    print(a - b)
 
subtra(a=5, b=2) # salida: 3
subtra(b=2, a=5) # salida: 3
 
#Ex. 3
def subtra(a, b):
    print(a - b)
 
subtra(5, b=2) # salida: 3
subtra(5, 2) # salida: 3

3
-3
3
3
3
3

In [ ]:
def subtra(a, b):
    print(a - b)
 
subtra(5, b=2) # salida: 3
subtra(a=5, 2) # Syntax Error

SyntaxError: ignored

In [ ]:
def name(first_name, last_name="Pérez"):
    print(first_name, last_name)
 
name("Andy") # salida: Andy Pérez
name("Bety", "Rodríguez") # salida: Bety Rodríguez (el argumento de palabra clave es reemplazado por "Rodríguez

Andy Pérez
Bety Rodríguez

In [ ]:
def intro(a="James Bond", b="Bond"):
     print("Mi nombre es", b + ".", a + ".")
 
intro()

Mi nombre es Bond. James Bond.

In [ ]:
def intro(a="James Bond", b="Bond"):
    print("Mi nombre es", b + ".", a + ".")
 
intro(b="Sean Connery")

Mi nombre es Sean Connery. James Bond.

In [ ]:
def intro(a, b="Bond"):
    print("Mi nombre es", b + ".", a + ".")
 
intro("Susan")

Mi nombre es Bond. Susan.

In [ ]:
def add_numbers(a, b=2, c):
    print(a + b + c)
 
add_numbers(a=1, c=3)

SyntaxError: ignored

In [2]:
def happy_new_year(wishes = True):
    print("Tres...")
    print("Dos...")
    print("Uno...")
    if not wishes:
        return
 
    print("¡Feliz año nuevo!")

In [3]:
happy_new_year()

Tres...
Dos...
Uno...
¡Feliz año nuevo!

In [4]:
happy_new_year(False)

Tres...
Dos...
Uno...

In [5]:
def function():
    return expression

In [6]:
def boring_function():
    return 123
 
x = boring_function()
 
print("La función boring_function ha devuelto su resultado. Es:", x)

La función boring_function ha devuelto su resultado. Es: 123

In [7]:
def boring_function():
    print("'Modo aburrimiento' ON.")
    return 123
 
print("¡Esta lección es interesante!")
boring_function()
print("Esta lección es aburrida...")

¡Esta lección es interesante!
'Modo aburrimiento' ON.
Esta lección es aburrida...

In [8]:
print(None + 2)

TypeError: ignored

In [9]:
value = None
if value is None:
    print("Lo siento, no contienes ningún valor")

Lo siento, no contienes ningún valor

In [10]:
def strange_function(n):
    if(n % 2 == 0):
        return True

In [11]:
print(strange_function(2))
print(strange_function(1))

True
None

In [12]:
def list_sum(lst):
    s = 0
 
    for elem in lst:
        s += elem
 
    return s

In [13]:
print(list_sum([5, 4, 3]))

12

In [14]:
print(list_sum(5))

TypeError: ignored

In [15]:
print(list_sum(5))

TypeError: ignored

In [16]:
def strange_list_fun(n):
    strange_list = []
    
    for i in range(0, n):
        strange_list.insert(0, i)
    
    return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [17]:
def is_year_leap(year):
    #
    # Es

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"->",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

IndentationError: ignored

In [18]:
def is_year_leap(year):
    if year % 4 != 0:
        #
    # elif statement
        #
    # elif statement
        #
    # else statement

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"-> ",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

IndentationError: ignored

In [19]:
def is_year_leap(year):
    #
    # Tu código del LAB anterior.
    #

def days_in_month(year, month):
    #
    # Escribe tu código nuevo aquí.
    #

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr, mo, "->", end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

IndentationError: ignored

In [22]:
def is_year_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
    yr = test_data[i]
    print(yr,"-> ",end="")
    result = is_year_leap(yr)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

1900 -> OK
2000 -> OK
2016 -> OK
1987 -> OK

In [20]:
def is_year_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def days_in_month(year, month):
    # if statement
        # ...
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res  = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

test_years = [1900, 2000, 2016, 1987]
test_months = [ 2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr,mo,"-> ",end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

1900 2 -> OK
2000 2 -> OK
2016 1 -> OK
1987 11 -> OK

In [21]:
def is_year_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def days_in_month(year,month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res  = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

test_years = [1900, 2000, 2016, 1987]
test_months = [ 2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
    yr = test_years[i]
    mo = test_months[i]
    print(yr,mo,"-> ",end="")
    result = days_in_month(yr, mo)
    if result == test_results[i]:
        print("OK")
    else:
        print("Fallido")

1900 2 -> OK
2000 2 -> OK
2016 1 -> OK
1987 11 -> OK

In [ ]:
def is_year_leap(year):
    #
    # Tu código del LAB anterior.
    #

def days_in_month(year, month):
    #
    # Tu código del LAB anterior.
    #

def day_of_year(year, month, day):
    #
    # Escribe tu código nuevo aquí.
    #

print(day_of_year(2000, 12, 31))

In [ ]:
def is_year_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def days_in_month(year, month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res  = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

def day_of_year(year, month, day):
    days = 0
    for m in range(1, month):
        # ...
        # if statement
            # ...
        days += md
    md = days_in_month(year, month)
    if day >= 1 and day <= md:
        # ...
    else:
        # ...

print(day_of_year(2000, 12, 31))

In [ ]:
def is_year_leap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def days_in_month(year, month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res  = days[month - 1]
    if month == 2 and is_year_leap(year):
        res = 29
    return res

def day_of_year(year, month, day):
    days = 0
    for m in range(1, month):
        md = days_in_month(year, m)
        if md == None:
            return None
        days += md
    md = days_in_month(year, month)
    if day >= 1 and day <= md:
        return days + day
    else:
        return None

print(day_of_year(2000, 12, 31))

In [23]:
def is_prime(num):
    #
    # Escribe tu código aquí.
    #

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")
print()

IndentationError: ignored

In [25]:
def is_prime(num):
    # en bucle for
        # la sentencia if
            return False
    return True

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")
print()

IndentationError: ignored

In [26]:
def is_prime(num):
    for i in range(2, int(1 + num ** 0.5)):
        if num % i == 0:
            return False
    return True

for i in range(1, 20):
    if is_prime(i + 1):
        print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [ ]:
def liters_100km_to_miles_gallon(liters):
    #
    # Escribe tu código aquí.
    #

def miles_gallon_to_liters_100km(miles):
    #
    # Escribe tu código aquí.
    #

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

In [27]:
# 1 milla = 1609.344 metros.
# 1 galón = 3.785411784 litros.

def liters_100km_to_miles_gallon(liters):
    gallons = liters / 3.785411784
    miles = 100 * 1000 / 1609.344
    return miles / gallons

def miles_gallon_to_liters_100km(miles):
    # ...
    # ...
    # ...

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

IndentationError: ignored

In [28]:
# 1 milla = 1609.344 metros.
# 1 galón = 3.785411784 litros.

def liters_100km_to_miles_gallon(liters):
    gallons = liters / 3.785411784
    miles = 100 * 1000 / 1609.344
    return miles / gallons

def miles_gallon_to_liters_100km(miles):
    km100 = miles * 1609.344 / 1000 / 100
    liters = 3.785411784
    return liters / km100

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239916
10.009131205673757

In [29]:
def multiply(a, b):
    return a * b
 
print(multiply(3, 4)) # salida: 12
 
 
def multiply(a, b):
    return
 
print(multiply(3, 4)) # salida: None

12
None

In [30]:
def wishes():
    return "¡Felíz Cumpleaños!
 
w = wishes()
 
print(w) # salida:¡Felíz Cumpleaños!

SyntaxError: ignored

In [31]:
# Ejemplo 1
def wishes():
    print("Mis deseos")
    return "Felíz Cumpleaños
 
wishes() # salida: Mis deseos
 
 
# Ejemplo 2
def wishes():
    print("Mis deseos")
    return "Felíz Cumpleaños
 
print(wishes())
 
# salida: Mis deseos
# Felíz Cumpleaños

SyntaxError: ignored

In [32]:
def hi_everybody(my_list):
    for name in my_list:
        print("Hola,", name)
 
hi_everybody(["Adán", "Juan", "Lucía"])

Hola, Adán
Hola, Juan
Hola, Lucía

In [33]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list
 
print(create_list(5))

[0, 1, 2, 3, 4]

In [39]:
def hi():
    return
    print("¡Hola!")
 
hi()

In [35]:
def is_int(data):
    if type(data) == int:
        return True
    elif type(data) == float:
        return False
 
print(is_int(5))
print(is_int(5.0))
print(is_int("5"))

True
False
None

In [36]:
def even_num_lst(ran):
    lst = []
    for num in range(ran):
        if num % 2 == 0:
            lst.append(num)
    return lst
 
print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

In [37]:
def list_updater(lst):
    upd_list = []
    for elem in lst:
        elem **= 2
        upd_list.append(elem)
    return upd_list
 
foo = [1, 2, 3, 4, 5]
print(list_updater(foo))

[1, 4, 9, 16, 25]

In [49]:
def scope_test():
    x = 123


scope_test()
print(x)

# No funciona en el editor de código de cisco, lo cual implica que Cisco o yo estamos mintiendo / :o

123

In [50]:
def my_function():
    print("¿Conozco a la variable?", var)


var = 1
my_function()
print(var)

¿Conozco a la variable? 1
1

In [51]:
def my_function():
    var = 2
    print("¿Conozco a la variable?", var)
 
 
var = 1
my_function()
print(var)

¿Conozco a la variable? 2
1

In [38]:
def my_function():
    var = 2
    print("¿Conozco a la variable?", var)
 
 
var = 1
my_function()
print(var)

¿Conozco a la variable? 2
1

In [54]:
def my_function():
    global var
    var = 2
    print("¿Conozco a aquella variable?", var)


var = 1
my_function()
print(var)

¿Conozco a aquella variable? 2
2

In [55]:
def my_function(n):
    print("Yo recibí", n)
    n += 1
    print("Ahora tengo", n)


var = 1
my_function(var)
print(var)

Yo recibí 1
Ahora tengo 2
1

In [57]:
# Código mostrado por cisco
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    printprint("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)
 
 
my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)


# Código después de una ligera corrección
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    # print
    print("Print #2:", my_list_2)
    my_list_1 = [0, 1]
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)
 
 
my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [0, 1]
Print #4: [2, 3]
Print #5: [2, 3]

In [58]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0] # Presta atención a esta línea.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)
 
 
my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

In [59]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0] # Presta atención a esta línea.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)
 
 
my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]

No se modifica el valor del parámetro my_list_1 (ya se sabe que no afectará el argumento), en lugar de ello se modificará la lista identificada por el.

El resultado puede ser sorprendente. Ejecuta el código y verifícalo:

Print #1: [2, 3]
Print #2: [2, 3]
Print #3: [3]
Print #4: [3]
Print #5: [3]
Output
¿Lo puedes explicar?

Intentémoslo:

si el argumento es una lista, el cambiar el valor del parámetro correspondiente no afecta la lista (recuerda: las variables que contienen listas son almacenadas de manera diferente que las escalares)
pero si se modifica la lista identificada por el parámetro (nota: ¡la lista, no el parámetro!), la lista reflejará el cambio.
Es tiempo de escribir algunos ejemplos de funciones. Lo harás en la siguiente sección.

In [60]:
var = 2
 
 
def mult_by_var(x):
    return x * var
 
 
print(mult_by_var(7)) # salida: 14

14

In [61]:
def mult(x):
    var = 5
    return x * var
 
 
print(mult(7)) # salida: 35

35

In [62]:
def mult(x):
    var = 7
    return x * var
 
 
var = 3
print(mult(7)) # salida: 49

49

In [63]:
def adding(x):
    var = 7
    return x + var
 
 
print(adding(4)) # salida: 11
print(var) # NameError

11
3

In [64]:
var = 2
print(var) # salida: 2
 
 
def return_var():
    global var
    var = 5
    return var
 
 
print(return_var()) # salida: 5
print(var) # salida: 5

2
5
5

In [48]:
# Código ejecutado por mí, probado de muchas maneras y con buenos resultados en cada teclazo 

# 4.4.5 PRUEBA DE SECCIÓN 
# Pregunta 1: ¿Cuál es la salida del siguiente fragmento de código?

def message():
    alt = 1
    print("¡Hola, mundo!")
    print(alt)
message()

¡Hola, mundo!
1

In [ ]:
# 4.4.5 PRUEBA DE SECCIÓN 
# Pregunta 1: ¿Cuál es la salida del siguiente fragmento de código?

def message():
    alt = 1
    print("¡Hola, mundo!")
 
 
print(alt)
# Código mostrado por Cisco 
# Muestra un error de ejecución

In [65]:
def message():
    alt = 1
    print("¡Hola, mundo!")
 
 
print(alt)

NameError: ignored

In [66]:
a = 1
 
 
def fun():
    a = 2
    print(a)
 
 
fun()
print(a)

2
1

In [67]:
a = 1
 
 
def fun():
    global a
    a = 2
    print(a)
 
 
fun()
a = 3
print(a)

2
3

In [68]:
a = 1
 
 
def fun():
    global a
    a = 2
    print(a)
 
 
a = 3
fun()
print(a)

2
2

In [75]:
def fun(a):
    if a > 30:
        return 3  # De el valor 3 depende que se sumen valores o no al resultado final 
        # Sin la linea con el comentario de arriba el resultado es 23 
    else:
        return a + fun(a + 3)
 
 
print(fun(25))

56