<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/PART2_MARATON_CISCO_LATAM_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ejemplo 1:
print(var > 0)
print(not (var <= 0))
 
 
# Ejemplo 2:
print(var != 0)
print(not (var == 0))

NameError: ignored

In [ ]:
not (p and q) == (not p) or (not q)
not (p or q) == (not p) and (not q)

In [ ]:
i = 1
j = not not i

In [ ]:
logneg = not i

In [ ]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

17 68 8

In [ ]:
x = 1
y = 0
 
z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [ ]:
x = 4
y = 1
 
a = x & y
b = x | y
c = ~x  # ¡difícil!
d = x ^ 5
e = x >> 2
f = x << 2
 
print(a, b, c, d, e, f)

0 5 -5 1 1 16

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista:", numbers)  # Imprimiendo contenido de la lista original.
 
numbers[0] = 111
print("Nuevo contenido de la lista: ", numbers)  # Contenido actual de la lista.

Contenido de la lista: [10, 5, 7, 2, 1]
Nuevo contenido de la lista:  [111, 5, 7, 2, 1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo contenido de la lista original.
 
numbers[0] = 111
print("\nPrevio contenido de la lista:", numbers)  # Imprimiendo contenido de la lista anterior.
 
numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Nuevo contenido de la lista:", numbers)  # Imprimiendo el contenido de la lista actual.

print(numbers[0]) # Accediendo al primer elemento de la lista
print(numbers[1]) # Accediendo al primer elemento de la lista
print(numbers[2]) # Accediendo al primer elemento de la lista
print(numbers[3]) # Accediendo al primer elemento de la lista
print(numbers[4]) # Accediendo al primer elemento de la lista

Contenido de la lista original: [10, 5, 7, 2, 1]

Previo contenido de la lista: [111, 5, 7, 2, 1]
Nuevo contenido de la lista: [111, 1, 7, 2, 1]
111
1
7
2
1

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo el contenido de la lista original.

numbers[0] = 111
print("\nContenido de la lista con cambio:", numbers)  # Imprimiendo contenido de la lista con 111.

numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Contenido de la lista con intercambio:", numbers)  # Imprimiendo contenido de la lista con intercambio.

print("\nLongitud de la lista:", len(numbers))  # Imprimiendo la longitud de la lista.


print(numbers) # Imprimiendo la lista completa.

Contenido de la lista original: [10, 5, 7, 2, 1]

Contenido de la lista con cambio: [111, 5, 7, 2, 1]
Contenido de la lista con intercambio: [111, 1, 7, 2, 1]

Longitud de la lista: 5
[111, 1, 7, 2, 1]

In [ ]:
del numbers[1]
print(len(numbers))
print(numbers)

2
[111, 1]

In [ ]:
del numbers[1]
print(len(numbers))
print(numbers)
 
print(numbers[4])
numbers[4] = 1

3
[111, 2, 1]

IndexError: ignored

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo el contenido de la lista original.

numbers[0] = 111
print("\nContenido de la lista con cambio:", numbers)  # Imprimiendo contenido de la lista con 111.

numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Contenido de la lista con intercambio:", numbers)  # Imprimiendo contenido de la lista con intercambio.

print("\nLongitud de la lista:", len(numbers))  # Imprimiendo la longitud de la lista.

###
###

del numbers[1]  # Eliminando el segundo elemento de la lista.
print("Longitud de la nueva lista:", len(numbers))  # Imprimiendo nueva longitud de la lista.
print("\nNuevo contenido de la lista:", numbers)  # Imprimiendo el contenido de la lista actual.

###print(numbers[4])
#numbers[4] = 1

Contenido de la lista original: [10, 5, 7, 2, 1]

Contenido de la lista con cambio: [111, 5, 7, 2, 1]
Contenido de la lista con intercambio: [111, 1, 7, 2, 1]

Longitud de la lista: 5
Longitud de la nueva lista: 4

Nuevo contenido de la lista: [111, 7, 2, 1]

In [ ]:
numbers = [111, 7, 2, 1]
print(numbers[-1])

1

In [ ]:
numbers = [111, 7, 2, 1]
print(numbers[-2])

2

In [ ]:
numbers = []

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###



numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###
numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers) 

#
numbers.insert(1, 333)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [ ]:
my_list = []  # Creando una lista vacía.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = []  # Creando una lista vacía.
 
for i in range(5):
    my_list.insert(0, i + 1)
 
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [ ]:
my_list = [10, 1, 8, 3, 5]
total = 0
 
for i in my_list:
    total += i
 
print(total)

27

In [ ]:
variable_1 = 1
variable_2 = 2
 
variable_2 = variable_1
variable_1 = variable_2
 Si haces algo como esto, perderás el valor previamente almacenado en variable_2. 
Cambiar el orden de las tareas no ayudará. Necesitas una tercera variable que sirva como almacenamiento auxiliar.

In [ ]:
variable_1 = 1
variable_2 = 2
 
auxiliary = variable_1
variable_1 = variable_2
variable_2 = auxiliary

In [ ]:
variable_1 = 1
variable_2 = 2
 
variable_1, variable_2 = variable_2, variable_1

In [ ]:
my_list = [10, 1, 8, 3, 5]
 
my_list[0], my_list[4] = my_list[4], my_list[0]
my_list[1], my_list[3] = my_list[3], my_list[1]
 
print(my_list)

[5, 3, 8, 1, 10]

In [ ]:
for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]
 
print(my_list)

NameError: ignored

In [ ]:
for i in range(len // 2):
    my_list[i], my_list[len - i - 1] = my_list[len - i - 1], my_list[i]
 
print(my_list)

TypeError: ignored

In [ ]:
my_list = [1, None, True, "Soy una cadena", 256, 0]

In [ ]:
my_list = [1, None, True, 'Soy una cadena', 256, 0]
print(my_list[3])  # output: Soy una cadena
print(my_list[-1])  # output: 0
 
my_list[1] = '?'
print(my_list)  # output: [1, '?', True, 'Soy una cadena', 256, 0]
 
my_list.insert(0, "primero")
my_list.append("último")
print(my_list)  # output: ['primero', 1, '?', True, 'Soy una cadena', 256, 0, 'último']

Soy una cadena
0
[1, '?', True, 'Soy una cadena', 256, 0]
['primero', 1, '?', True, 'Soy una cadena', 256, 0, 'último']

In [ ]:
my_list = [1, 'a', ["lista", 64, [0, 1], False]]

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[2]
print(my_list)  # output: [1, 2, 4]
 
del my_list  # borra la lista entera

[1, 2, 4]

In [ ]:
my_list = ["blanco", "purpura", "azul", "amarillo", "verde"]
 
for color in my_list:
    print(color)

blanco
purpura
azul
amarillo
verde

In [ ]:
my_list = ["blanco", "purpura", "azul", "amarillo", "verde"]
print(len(my_list))  # output 5
 
del my_list[2]
print(len(my_list))  # output 4

5
4

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
del lst[0]
lst.append(1)
 
print(lst)

[6, 2, 3, 4, 5, 1]

In [ ]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0
 
for number in lst:
    add += number
    lst_2.append(add)
 
print(lst_2)

[1, 3, 6, 10, 15]

In [ ]:
lst = []
del lst
print(lst)

NameError: ignored

In [ ]:
lst = []
del lst
print(lst)

NameError: ignored

In [ ]:
lst = [1, [2, 3], 4]
print(lst[1])
print(len(lst))

[2, 3]
3

In [ ]:
my_list = [8, 10, 6, 2, 4]  # lista a ordenar
 
for i in range(len(my_list) - 1):  # necesitamos (5 - 1) comparaciones
    if my_list[i] > my_list[i + 1]:  # compara elementos adyacentes
        my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]  # Si terminamos aquí, tenemos que intercambiar elementos.
print(my_list)

[8, 6, 2, 4, 10]

In [ ]:
my_list = [8, 10, 6, 2, 4]  # lista a ordenar
swapped = True  # Lo necesitamos verdadero (True) para ingresar al bucle while.
 
while swapped:
    swapped = False  # no hay intercambios hasta ahora
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True  # ¡ocurrió el intercambio!
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]
 
print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list = []
swapped = True
num = int(input("¿Cuántos elementos deseas ordenar?: "))

for i in range(num):
    val = float(input("Ingresa un elemento de la lista: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nOrdenada:")
print(my_list)

¿Cuántos elementos deseas ordenar?: 34
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 54
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 1
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 5
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 45
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 12
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 9
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 5
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 75
Ingresa un elemento de la lista: 54

Ordenada:
[1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 7.0, 7.0, 9.0, 12.0, 34.0, 34.0, 34.0, 45.0, 54.0, 54.0, 75.0]

In [ ]:
my_list = [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)
 
lst.sort()
print(lst)  # output: [1, 2, 3, 4, 5]

[5, 3, 1, 2, 4]
[1, 2, 3, 4, 5]

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)
 
lst.reverse()
print(lst)  # output: [4, 2, 1, 3, 5]

[5, 3, 1, 2, 4]
[4, 2, 1, 3, 5]

In [ ]:
lst = ["D", "F", "A", "Z"]
lst.sort()
 
print(lst)

['A', 'D', 'F', 'Z']

In [ ]:
a = 3
b = 1
c = 2
 
lst = [a, c, b]
lst.sort()
 
print(lst)

[1, 2, 3]

In [ ]:
a = "A"
b = "B"
c = "C"
d = " "
 
lst = [a, b, c, d]
lst.reverse()
 
print(lst)

[' ', 'C', 'B', 'A']

In [ ]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

[2]

In [ ]:
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

[1]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[8, 6]

In [ ]:
# Copiando la lista completa.
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

# Copiando parte de la lista.
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[1]
[8, 6]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:-1]
print(new_list)

[8, 6, 4]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[-1:1]
print(new_list)

[]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:3]
print(new_list)

[10, 8, 6]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[3:]
print(new_list)

[4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]
print(new_list)

[10, 8, 6, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[1:3]
print(my_list)

[10, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[:]
print(my_list)

[]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list
print(my_list)

NameError: ignored

In [ ]:
elem in my_list
elem not in my_list

In [ ]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

False
True
True

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in range(1, len(my_list)):
    if my_list[i] > largest:
        largest = my_list[i]

print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]
 
for i in my_list:
    if i > largest:
        largest = i
 
print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]
 
for i in my_list[1:]:
    if i > largest:
        largest = i
 
print(largest)

17

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 5
found = False
 
for i in range(len(my_list)):
    found = my_list[i] == to_find
    if found:
        break
 
if found:
    print("Elemento encontrado en el índice", i)
else:
    print("ausente")

Elemento encontrado en el índice 4

In [ ]:
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0
 
for number in bets:
    if number in drawn:
        hits += 1
 
print(hits)

4

In [ ]:
vehicles_one = ['coche', 'bicicleta', 'motor']
print(vehicles_one) # output: ['coche', 'bicicleta', 'motor']
 
vehicles_two = vehicles_one
del vehicles_one[0] # elimina 'coche'
print(vehicles_two) # output: ['bicicleta', 'motor']

['coche', 'bicicleta', 'motor']
['bicicleta', 'motor']

In [ ]:
colors = ['rojo', 'verde', 'naranja']
 
copy_whole_colors = colors[:]  # copia la lista entera
copy_part_colors = colors[0:2]  # copia parte de la lista

In [ ]:
sample_list = ["A", "B", "C", "D", "E"]
new_list = sample_list[2:-1]
print(new_list)  # output: ['C', 'D']

['C', 'D']

In [ ]:
my_list = [1, 2, 3, 4, 5]
slice_one = my_list[2: ]
slice_two = my_list[ :2]
slice_three = my_list[-2: ]
 
print(slice_one)  # output: [3, 4, 5]
print(slice_two)  # output: [1, 2]
print(slice_three)  # output: [4, 5]

[3, 4, 5]
[1, 2]
[4, 5]

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[0:2]
print(my_list)  # output: [3, 4, 5]
 
del my_list[:]
print(my_list)  # elimina el contenido de la lista, genera: []

[3, 4, 5]
[]

In [ ]:
my_list = ["A", "B", 1, 2]
 
print("A" in my_list)  # output: True
print("C" not in my_list)  # output: True
print(2 not in my_list)  # output: False

True
True
False

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
 
del list_1[0]
del list_2[0]
 
print(list_3)

['C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
 
del list_1[0]
del list_2
 
print(list_3)

['B', 'C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2
 
del list_1[0]
del list_2[:]
 
print(list_3)

[]

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1[:]
list_3 = list_2[:]
 
del list_1[0]
del list_2[0]
 
print(list_3)

['A', 'B', 'C']

In [ ]:
my_list = [1, 2, "in", True, "ABC"]
 
print(1 ??? my_list)  # output True
print("A" ??? my_list)  # output True
print(3 ??? my_list)  # output True
print(False ??? my_list)  # output False

SyntaxError: ignored

In [5]:
row = []
 
for i in range(8):
    row.append(WHITE_PAWN)

    #3row = [WHITE_PAWN for i in range(8)] 
    #rint(row)

NameError: ignored

In [4]:
row = [WHITE_PAWN for i in range(8)]
print(row)

NameError: ignored

In [7]:
row = [WHITE_PAWN for i in range(8)]

NameError: ignored

In [6]:
squares = [x ** 2 for x in range(10)]

In [8]:
twos = [2 ** i for i in range(8)]

In [9]:
odds = [x for x in squares if x % 2 != 0 ]

In [10]:
board = []
 
for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

NameError: ignored

In [11]:
board = [[EMPTY for i in range(8)] for j in range(8)]

NameError: ignored

In [12]:
board[0][0] = ROOK
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK

NameError: ignored

In [13]:
board[4][2] = KNIGHT

NameError: ignored

In [14]:
board[3][4] = PAWN

NameError: ignored

In [15]:
temps = [[0.0 for h in range(24)] for d in range(31)]

In [16]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# La matriz se actualiza aquí.
#
 
total = 0.0
 
for day in temps:
    total += day[11]
 
average = total / 31
 
print("Temperatura promedio al mediodía:", average)

Temperatura promedio al mediodía: 0.0

In [17]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# La matriz se actualiza aquí.
#
 
highest = -100.0
 
for day in temps:
    for temp in day:
        if temp > highest:
            highest = temp
 
print("La temperatura más alta fue:", highest)

La temperatura más alta fue: 0.0

In [18]:
temps = [[0.0 for h in range(24)] for d in range(31)]
#
# La matriz se actualiza aquí.
#
 
hot_days = 0
 
for day in temps:
    if day[11] > 20.0:
        hot_days += 1
 
print(hot_days, "fueron los días calurosos.")

0 fueron los días calurosos.

In [19]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

In [20]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

In [21]:
rooms[1][9][13] = True

In [22]:
rooms[0][4][1] = False

In [23]:
vacancy = 0
 
for room_number in range(20):
    if not rooms[2][14][room_number]:
        vacancy += 1

In [24]:
cubed = [num ** 3 for num in range(5)]
print(cubed) # output: [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

In [25]:
# Una tabla de cuatro columnas y cuatro filas: un arreglo bidimensional (4x4)
 
table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]
 
print(table)
print(table[0][0])  # output: ':('
print(table[0][3])  # output: ':)'

[[':(', ':)', ':(', ':)'], [':)', ':(', ':)', ':)'], [':(', ':)', ':)', ':('], [':)', ':)', ':)', ':(']]
:(
:)

In [26]:
# Cubo - un arreglo tridimensional (3x3x3)
 
cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],
 
        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],
 
        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]
 
print(cube)
print(cube[0][0][0])  # output: ':('
print(cube[2][2][0])  # output: ':)'

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]
:(
:)

In [28]:
x = 1
x = x == x
print(x)

True

In [29]:
i = 0
while i <= 3 :
    i += 2
    print("*")

*
*

In [30]:
i = 0
while i <= 5 :
    i += 1
    if i % 2 == 0:
      break
    print("*")

*

In [31]:
for i in range(1):
    print("#")
else:
    print("#")

#
#

In [32]:
var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

#
#
#

In [33]:
var = 1
while var < 10:
    print("#")
    var = var << 1

#
#
#
#

In [35]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y
print(x)

True

In [36]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b
 
print(c + d + e)

2

In [37]:
my_list = [3, 1, -2]
print(my_list[my_list[-1]])

1

In [38]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])

[2]

In [40]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
print(vals)

[2, 1, 0]

In [42]:
vals = [0, 1, 2]
vals.insert(0, 1)
del vals[1]
print(vals)

[1, 1, 2]

In [45]:
nums = [1, 2, 3]
vals = nums
del vals[1:2]
print(nums)
print(vals)

[1, 3]
[1, 3]

In [53]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(nums)
print(vals)

[1, 2, 3]
[]

In [46]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1:
    my_list_2.insert(0, v)
print(my_list_2)

[3, 2, 1]

In [51]:
my_list = [1, 2, 3]
for v in range(len(my_list)):
    my_list.insert(1, my_list[v])
print(my_list)

[1, 1, 1, 1, 2, 3]

In [50]:
my_list = [i for i in range(-1, 2)]
print(my_list)

[-1, 0, 1]

In [48]:
t = [[3-i for i in range (3)] for j in range (3)]
s = 0
for i in range(3):
    s += t[i][i]
print(s)

6

In [47]:
my_list = [[0, 1, 2, 3] for i in range(2)]
print(my_list[2][0])

IndexError: ignored