<a href="https://colab.research.google.com/github/LeonardoAlunaM/COMPUTADORAS-Y-PROGRAMACI-N-2O23-/blob/main-COMPUTADORAS-Y-PROGTRAMACI%C3%93N-2023/PART2_MARATON_CISCO_LATAM_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Ejemplo 1:
print(var > 0)
print(not (var <= 0))
 
 
# Ejemplo 2:
print(var != 0)
print(not (var == 0))

NameError: ignored

In [ ]:
not (p and q) == (not p) or (not q)
not (p or q) == (not p) and (not q)

In [2]:
i = 1
j = not not i

In [3]:
logneg = not i

In [4]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

17 68 8

In [5]:
x = 1
y = 0
 
z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [6]:
x = 4
y = 1
 
a = x & y
b = x | y
c = ~x  # ¡difícil!
d = x ^ 5
e = x >> 2
f = x << 2
 
print(a, b, c, d, e, f)

0 5 -5 1 1 16

In [7]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista:", numbers)  # Imprimiendo contenido de la lista original.
 
numbers[0] = 111
print("Nuevo contenido de la lista: ", numbers)  # Contenido actual de la lista.

Contenido de la lista: [10, 5, 7, 2, 1]
Nuevo contenido de la lista:  [111, 5, 7, 2, 1]

In [18]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo contenido de la lista original.
 
numbers[0] = 111
print("\nPrevio contenido de la lista:", numbers)  # Imprimiendo contenido de la lista anterior.
 
numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Nuevo contenido de la lista:", numbers)  # Imprimiendo el contenido de la lista actual.

print(numbers[0]) # Accediendo al primer elemento de la lista
print(numbers[1]) # Accediendo al primer elemento de la lista
print(numbers[2]) # Accediendo al primer elemento de la lista
print(numbers[3]) # Accediendo al primer elemento de la lista
print(numbers[4]) # Accediendo al primer elemento de la lista

Contenido de la lista original: [10, 5, 7, 2, 1]

Previo contenido de la lista: [111, 5, 7, 2, 1]
Nuevo contenido de la lista: [111, 1, 7, 2, 1]
111
1
7
2
1

In [20]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo el contenido de la lista original.

numbers[0] = 111
print("\nContenido de la lista con cambio:", numbers)  # Imprimiendo contenido de la lista con 111.

numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Contenido de la lista con intercambio:", numbers)  # Imprimiendo contenido de la lista con intercambio.

print("\nLongitud de la lista:", len(numbers))  # Imprimiendo la longitud de la lista.


print(numbers) # Imprimiendo la lista completa.

Contenido de la lista original: [10, 5, 7, 2, 1]

Contenido de la lista con cambio: [111, 5, 7, 2, 1]
Contenido de la lista con intercambio: [111, 1, 7, 2, 1]

Longitud de la lista: 5
[111, 1, 7, 2, 1]

In [23]:
del numbers[1]
print(len(numbers))
print(numbers)

2
[111, 1]

In [22]:
del numbers[1]
print(len(numbers))
print(numbers)
 
print(numbers[4])
numbers[4] = 1

3
[111, 2, 1]

IndexError: ignored

In [26]:
numbers = [10, 5, 7, 2, 1]
print("Contenido de la lista original:", numbers)  # Imprimiendo el contenido de la lista original.

numbers[0] = 111
print("\nContenido de la lista con cambio:", numbers)  # Imprimiendo contenido de la lista con 111.

numbers[1] = numbers[4]  # Copiando el valor del quinto elemento al segundo elemento.
print("Contenido de la lista con intercambio:", numbers)  # Imprimiendo contenido de la lista con intercambio.

print("\nLongitud de la lista:", len(numbers))  # Imprimiendo la longitud de la lista.

###
###

del numbers[1]  # Eliminando el segundo elemento de la lista.
print("Longitud de la nueva lista:", len(numbers))  # Imprimiendo nueva longitud de la lista.
print("\nNuevo contenido de la lista:", numbers)  # Imprimiendo el contenido de la lista actual.

###print(numbers[4])
#numbers[4] = 1

Contenido de la lista original: [10, 5, 7, 2, 1]

Contenido de la lista con cambio: [111, 5, 7, 2, 1]
Contenido de la lista con intercambio: [111, 1, 7, 2, 1]

Longitud de la lista: 5
Longitud de la nueva lista: 4

Nuevo contenido de la lista: [111, 7, 2, 1]

In [27]:
numbers = [111, 7, 2, 1]
print(numbers[-1])

1

In [28]:
numbers = [111, 7, 2, 1]
print(numbers[-2])

2

In [ ]:
numbers = []

In [29]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###



numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [30]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###
numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers) 

#
numbers.insert(1, 333)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [32]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [31]:
my_list = []  # Creando una lista vacía.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [33]:
my_list = []  # Creando una lista vacía.
 
for i in range(5):
    my_list.insert(0, i + 1)
 
print(my_list)

[5, 4, 3, 2, 1]

In [34]:
my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [35]:
my_list = [10, 1, 8, 3, 5]
total = 0
 
for i in my_list:
    total += i
 
print(total)

27

In [36]:
variable_1 = 1
variable_2 = 2
 
variable_2 = variable_1
variable_1 = variable_2
 Si haces algo como esto, perderás el valor previamente almacenado en variable_2. 
Cambiar el orden de las tareas no ayudará. Necesitas una tercera variable que sirva como almacenamiento auxiliar.

In [37]:
variable_1 = 1
variable_2 = 2
 
auxiliary = variable_1
variable_1 = variable_2
variable_2 = auxiliary

In [38]:
variable_1 = 1
variable_2 = 2
 
variable_1, variable_2 = variable_2, variable_1

In [39]:
my_list = [10, 1, 8, 3, 5]
 
my_list[0], my_list[4] = my_list[4], my_list[0]
my_list[1], my_list[3] = my_list[3], my_list[1]
 
print(my_list)

[5, 3, 8, 1, 10]

In [40]:
for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]
 
print(my_list)

NameError: ignored

In [41]:
for i in range(len // 2):
    my_list[i], my_list[len - i - 1] = my_list[len - i - 1], my_list[i]
 
print(my_list)

TypeError: ignored

In [43]:
my_list = [1, None, True, "Soy una cadena", 256, 0]

In [44]:
my_list = [1, None, True, 'Soy una cadena', 256, 0]
print(my_list[3])  # output: Soy una cadena
print(my_list[-1])  # output: 0
 
my_list[1] = '?'
print(my_list)  # output: [1, '?', True, 'Soy una cadena', 256, 0]
 
my_list.insert(0, "primero")
my_list.append("último")
print(my_list)  # output: ['primero', 1, '?', True, 'Soy una cadena', 256, 0, 'último']

Soy una cadena
0
[1, '?', True, 'Soy una cadena', 256, 0]
['primero', 1, '?', True, 'Soy una cadena', 256, 0, 'último']

In [45]:
my_list = [1, 'a', ["lista", 64, [0, 1], False]]

In [46]:
my_list = [1, 2, 3, 4]
del my_list[2]
print(my_list)  # output: [1, 2, 4]
 
del my_list  # borra la lista entera

[1, 2, 4]

In [47]:
my_list = ["blanco", "purpura", "azul", "amarillo", "verde"]
 
for color in my_list:
    print(color)

blanco
purpura
azul
amarillo
verde

In [48]:
my_list = ["blanco", "purpura", "azul", "amarillo", "verde"]
print(len(my_list))  # output 5
 
del my_list[2]
print(len(my_list))  # output 4

5
4

In [49]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
del lst[0]
lst.append(1)
 
print(lst)

[6, 2, 3, 4, 5, 1]

In [50]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0
 
for number in lst:
    add += number
    lst_2.append(add)
 
print(lst_2)

[1, 3, 6, 10, 15]

In [51]:
lst = []
del lst
print(lst)

NameError: ignored

In [52]:
lst = []
del lst
print(lst)

NameError: ignored

In [53]:
lst = [1, [2, 3], 4]
print(lst[1])
print(len(lst))

[2, 3]
3

In [55]:
my_list = [8, 10, 6, 2, 4]  # lista a ordenar
 
for i in range(len(my_list) - 1):  # necesitamos (5 - 1) comparaciones
    if my_list[i] > my_list[i + 1]:  # compara elementos adyacentes
        my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]  # Si terminamos aquí, tenemos que intercambiar elementos.
print(my_list)

[8, 6, 2, 4, 10]

In [56]:
my_list = [8, 10, 6, 2, 4]  # lista a ordenar
swapped = True  # Lo necesitamos verdadero (True) para ingresar al bucle while.
 
while swapped:
    swapped = False  # no hay intercambios hasta ahora
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True  # ¡ocurrió el intercambio!
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]
 
print(my_list)

[2, 4, 6, 8, 10]

In [57]:
my_list = []
swapped = True
num = int(input("¿Cuántos elementos deseas ordenar?: "))

for i in range(num):
    val = float(input("Ingresa un elemento de la lista: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nOrdenada:")
print(my_list)

¿Cuántos elementos deseas ordenar?: 34
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 54
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 1
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 5
Ingresa un elemento de la lista: 4
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 45
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 12
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 34
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 9
Ingresa un elemento de la lista: 7
Ingresa un elemento de la lista: 6
Ingresa un elemento de la lista: 5
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 3
Ingresa un elemento de la lista: 2
Ingresa un elemento de la lista: 75
Ingresa un elemento de la lista: 54

Ordenada:
[1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 7.0, 7.0, 9.0, 12.0, 34.0, 34.0, 34.0, 45.0, 54.0, 54.0, 75.0]

In [58]:
my_list = [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

[2, 4, 6, 8, 10]

In [59]:
lst = [5, 3, 1, 2, 4]
print(lst)
 
lst.sort()
print(lst)  # output: [1, 2, 3, 4, 5]

[5, 3, 1, 2, 4]
[1, 2, 3, 4, 5]

In [60]:
lst = [5, 3, 1, 2, 4]
print(lst)
 
lst.reverse()
print(lst)  # output: [4, 2, 1, 3, 5]

[5, 3, 1, 2, 4]
[4, 2, 1, 3, 5]

In [61]:
lst = ["D", "F", "A", "Z"]
lst.sort()
 
print(lst)

['A', 'D', 'F', 'Z']

In [62]:
a = 3
b = 1
c = 2
 
lst = [a, c, b]
lst.sort()
 
print(lst)

[1, 2, 3]

In [63]:
a = "A"
b = "B"
c = "C"
d = " "
 
lst = [a, b, c, d]
lst.reverse()
 
print(lst)

[' ', 'C', 'B', 'A']

In [64]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

[2]

In [65]:
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

[1]

In [66]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[8, 6]

In [67]:
# Copiando la lista completa.
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

# Copiando parte de la lista.
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[1]
[8, 6]